.entry {
    position: relative;
    width: 350px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3rem 0;
}

.new-entry {
    margin-top: 1rem;
}

/* input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 18px;
    border: none;
    border-radius: 10px;
    font-family: inherit;
    font-size: inherit;
    background: var(--light);
    color: var(--black);
    -webkit-appearance: none;
} */

input {
    font-family: inherit;
    font-size: inherit;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.text-input {
    border: none;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    background: var(--light);
    color: var(--black);
    -webkit-appearance: none;
}

.form-group {
    margin: 1rem 0;
}

.error-message {
    text-align: center;
    color: var(--red);
}

.radio {
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: var(--light);
    transition: all .3s;
    margin-top: -3px;
}

.radio-text {
    margin-left: 2rem;
}

.radio:hover input~.checkmark {
    background-color: var(--violet);
}

.radio input:checked~.checkmark {
    background-color: var(--violet);
}

/* .radio-input {
    border-color: var(--violet);
}

.radio input:checked~.checkmark {
    background: var(--violet);
}

.radio:hover input~.checkmark {
    background: var(--light);
}

.radio input:checked~.checkmark {
    background: var(--violet);
} */