.transaction {
    justify-content: space-between;
    margin: .5rem 0;
    position: relative;
}

.transaction>* {
    flex-grow: 1;
    flex-basis: 0;
}

.delete-transaction {
    display: none;
    background: var(--red);
    color: #fff;
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 7px;
    overflow: hidden;
}

.delete-transaction-content {
    padding: 1rem;
    width: 100%;
    transform: translateY(300px);
    justify-content: space-between;
}

.transaction-date {
    padding: .3rem .5rem;
    background: var(--rgba2);
    border-radius: 5px;
    text-align: center;
    flex-grow: 0;
}

.transaction-item {
    flex-basis: 25%;
    padding-left: 1rem;
}

.transaction-action {
    flex-grow: 0;
    margin-left: 1rem;
}

.transaction-sign {
    flex-grow: 0;
    margin-right: 1rem;
    font-weight: bold;
    font-size: 20px;
}