.transactions {
    width: 350px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3rem 0;
}

.all-transactions {
    max-height: 70vh;
    height: 100%;
    margin-top: 2rem;
    background: var(--light);
    padding: 1rem;
    border-radius: 10px;
    overflow-y: scroll;
}

.all-transactions svg {
    margin-bottom: -3px;
    margin-right:5px;
}

/* width */

.all-transactions::-webkit-scrollbar {
    width: 10px;
}

/* Track */

.all-transactions::-webkit-scrollbar-track {
    background: var(--light);
    border-radius: 10px;
}

/* Handle */

.all-transactions::-webkit-scrollbar-thumb {
    background: var(--violet);
    border-radius: 10px;
}

/* Handle on hover */

.all-transactions::-webkit-scrollbar-thumb:hover {
    background: var(--violet);
}