.all-transactions {
    max-height: 60vh;
    height: 100%;
    margin-top: 1rem;
    padding-right: 1rem;
    overflow-y: scroll;
}

/* Scrollbar */

.all-transactions::-webkit-scrollbar {
    width: 10px;
}

.all-transactions::-webkit-scrollbar-track {
    background:var(--light);
    border-radius: 10px;
}

.all-transactions::-webkit-scrollbar-thumb {
    background: var(--dark);
    border-radius: 5px;
}

.all-transactions::-webkit-scrollbar-thumb:hover {
    background: var(--dark);
}